services:
  frontend:
    build:
      context: ./raikoMusicsWeb
      dockerfile: Dockerfile
    container_name: raikomusics_container
    restart: unless-stopped
    ports:
      - "6777:80"

  stream_server:
    build:
      context: ./AudioStreamServer
      dockerfile: Dockerfile
    container_name: raikomusics_stream_container
    restart: unless-stopped
    ports:
      - "6888:8080"
    volumes:
      - music-data:/var/www/music # Connects to the permanent volume

  raikomusics_api:
    build:
      context: ./RaikoMusicsAPI
      dockerfile: Dockerfile
    container_name: raikomusics_api_container
    restart: unless-stopped
    ports:
      - "6999:3000"
    volumes:
      - music-data:/var/www/music # Also connects to the same volume

volumes:
  music-data:
